$white-color: #ffffff;
$text-color: #283645;
$smoky-color: #f2f2f2;
$cherry-color: #d22856;
$bg-gray: #e5e5e5;
$lightgreen-color: #2aab6d;
$gray-color: #737981;
$tablet-width: 768px;
$desktop-width: 1200px;
